.dashboard {
    h2 {
        margin-bottom: 36px;
    }
    .filter-list {
        margin-bottom: 24px;
        .filter-truck {
            label {
                width: 100%;
            }
            margin-bottom: 0;
            .filter-type {
                flex: 2;
                margin-bottom: 0;
                .form-control {
                    cursor: pointer;
                    border-right: 0;
                    border-radius: 3px 0 0 3px;
                }
            }
            .filter-search {
                flex: 4;
                border-radius: 0;
            }
            .btn-search {
                border-left: 0;
                border-radius: 0 3px 3px 0;
            }
        }
    }
    .list-truck {
        border: 0;
        box-shadow: none;
        .actions {
            .checkbox {
                line-height: 1;
                height: 16px;
            }
        }
        .kit-section-title, .kit-section-body {
            box-shadow: none;
            padding: 12px 0;
            .kit-section-title__item {
                display: inline-block;
                font-weight: 600;
                .actions__main-bar {
                    margin: 0;
                    padding: 0;
                    label {
                        margin: 0;
                    }
                }
            }
            &.truck-selected {
                .kit-section-title__item {
                    flex: 0;
                    &.actions {
                        flex: 1;
                        .actions__main-bar {
                            li {
                                &:first-child {
                                    background: #f9fafb;
                                    border-right: 0;
                                    border-radius: 3px 0 0 3px;
                                }
                                &:last-child {
                                    border-radius: 0 3px 3px 0;
                                    padding: 0;
                                    .btn, .dropdown {
                                        border: 0;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .table-list-items {
                padding: 0;
                border-top: 1px solid #ebeef0;
                cursor: pointer;
                &:hover {
                    background: #f9fafb;
                }
                .table-list-item {
                    padding: 24px 0;
                    padding-left: 5px;
                    display: inline-block;
                }
            }
            .actions {
                flex: 1;
                .actions__main-bar {
                    margin: 0;
                    padding: 0;
                    li {
                        display: inline-block;
                        box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
                        border: 1px solid #c4cdd5;
                        height: 36px;
                        padding: 0 10px 0 5px;
                        &:first-child {
                            border-radius: 3px;
                            color: #919eab;
                            font-weight: 400;
                            .caret-down {
                                margin-left: 5px;
                            }
                            .selection-count {
                                margin-left: 10px;
                                font-size: 1rem;
                            }
                        }
                        & > div {
                            display: inline-block;
                        }
                    }
                }
                label {
                    margin: 0;
                }
            }
            .packing-address {
                flex: 4;
            }
            .cargo-type {
                flex: 3;
            }
            .price, .status, .plate {
                flex: 2;
            }
        }
    }
    .wrapper-pagination {
        margin-top: 36px;
        .pagination-item {
            box-shadow: 0 1px 0 0 #E6EBF0;
            height: 36px;
            width: 36px;
            line-height: 36px;
            color: #163054;
            border-radius: 4px;
            font-size: 6/7 + rem;
            border: 0;
            margin: 0 5px;
            background: unset;
            cursor: pointer;
            &.activated {
                background: #F2F5F8;
                box-shadow: 0 1px 0 0 #E6EBF0;
            }
        }
    }
}