.truck {
    h2 {
        margin-bottom: 16px;
    }
    .packing-address {
        position: relative;
        textarea {
            padding-bottom: 20px;
        }
        .text-counter {
            position: absolute;
            bottom: 3px;
            left: 10px;
            font-size: (6/7) + rem;
            color: #ced4da;
        }
        .error-text {
            font-size: 6/7 + rem;
            position: absolute;
            top: calc(100% + 5px);
            color: $color-danger;
        }
    }
    .btn-save {
        margin-top: 16px;
    }
}