.content {
    margin-left: 224px;
    width: calc(100% - 224px);
    min-height: 100vh;
    padding: 32px 0;
    position: relative;
}

li {
    list-style-type: none;
}

.checkbox {
    input {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + label {
            border-color: #428CF0;
            &::after {
                content: '';
                position: absolute;
                top: 2px;
                left: 5px;
                width: 5px;
                height: 8px;
                border: solid #428CF0;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
    }
    label {
        cursor: pointer;
        user-select: none;
        background: #FFFFFF;
        border: 1px solid #B4BECC;
        border-radius: 3px;
        height: 16px;
        width: 16px;
        position: relative;
    }
}

.btn-outline {
    border: 1px solid #ced4da;
}

.caret-down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.progress-line {
    position: fixed;
    top: 0;
    left: 0;
    height: 2px;
    background:  $color-primary;
    transition: all .3s ease;
    z-index: 3;
}
.progress-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    z-index: 1;
    &.activated {
        opacity: 1;
        visibility: visible;
    }
}

// Input
.form-group {
    input[type="text"], textarea {
        &.form-control {
            &::-webkit-input-placeholder {
                color: #d2d6d8;
            }
            &.error {
                border-color: $color-danger;
                & + span.error-text {
                    color: $color-danger;
                    font-size: (6 / 7) + rem;
                }
            }
        }
    }
}