.kit-section {
    border: 1px solid #E6EBF0;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(42, 48, 56, 0.04);
    .kit-section-title {
        padding: 12px 16px;
        color: #2A3038;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        box-shadow: 0 1px 0 0 #E6EBF0;
        background-color: #FFFFFF;
        min-height: 48px;
    }
    .kit-section-body {
        padding: 16px;
    }
}